<form [formGroup]="sfForm" (ngSubmit)="onSubmit()">
  <div class="container_main clearfix">
    <div class="title_no_2">
      <h1>Checkout</h1>
    </div>

    <ng-container *ngIf="Order == null; else elseTemplate"></ng-container>
    <div class="title_no">
      <h1>No Order Here</h1>
    </div>

    <ng-template #elseTemplate>
      <div class="container_left clearfix">
        <div class="delivery_container">
          <span class="sub_title">Delivery Options</span>
          <div class="delivery_body">
            <div class="delivery_select">
              <div id="onShip" class="delivery_select_method">
                <i class="fa-solid fa-truck-moving"></i>Ship
              </div>
              <div id="onPick" class="delivery_select_method">
                <i class="fa-solid fa-location-dot"></i>Pick Up
              </div>
            </div>
            <div class="delivery_infor">
              <div class="infor-title">Your Information</div>
              <div id="form_infor_delive" action="" class="form-delivery-infor clearfix">
                <input class="fullname-delivery" type="text" name="" id="address" placeholder="Address*"
                  formControlName="nameReceiver" />

                <input class="address-delivery" type="text" name="" id="address" placeholder="Address*"
                  formControlName="addressReciver" />
                <input class="name-delivery" type="text" name="" id="email" placeholder="Email*"
                  formControlName="mail" />
                <input class="name-delivery" type="text" name="" id="phone_number" placeholder="Phone Nummber*"
                  formControlName="phone" />
              </div>

              <div class="shipping clearfix">
                <div class="infor-title">Select your shipping speed</div>
                <div class="ship_method selected">
                  <div>Free Ship</div>
                  <div class="timearrive">Arrivers by Fri, Feb 10</div>
                </div>
                <div class="ship_method unselected">
                  <div>Faster Ship</div>
                  <div class="timearrive">Arrivers by Fri, Feb 1</div>
                </div>
                <div class="ship_method unselected">
                  <div>Rush B</div>
                  <div class="timearrive">Tomorrow</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn_placeorder">Place Order</button>
      </div>
      <div class="container_right clearfix">
        <span class="sub_title">Order Summary</span>
        <div class="summary_total">
          <div class="subtotal_pay clearfix">
            <div class="order_summary infor_label clearfix">Subtotal</div>
            <div class="order_summary value_label clearfix">
              {{ Order.totalPayment.toLocaleString() }}₫
            </div>
          </div>
          <div class="deliver_pay clearfix">
            <div class="infor_label order_summary">
              Estimated Delivery & Handling
            </div>
            <div class="value_label order_summary">0₫</div>
          </div>
          <div class="total_payment clearfix">
            <div class="infor_label">Total</div>
            <div class="value_label">
              {{ Order.totalPayment.toLocaleString() }}₫
            </div>
          </div>
        </div>

        <div class="deliver-time">Arrivers by Fri, Feb 10</div>
        <div class="item-deviler" *ngFor="let orderDetail of OrderDetails">
          <div class="row">
            <div class="col-4">
              <div class="item-deviler-img clearfix">
                <img src="{{ orderDetail.item.imageUrl }}" alt="" width="100px" />
              </div>
            </div>
            <div class="col-8">
              <div class="item-deviler-infor">
                <div class="item-deviler-infor-name">
                  {{ orderDetail.item.itemName }}
                </div>
                <div class="item-deviler-infor-options">
                  Category : Man's Shoes
                </div>
                <div class="item-deviler-infor-options">
                  Size: {{ orderDetail.item.size }}
                </div>
                <div class="item-deviler-infor-options">
                  Color: {{ orderDetail.item.color }}
                </div>
                <div class="item-deviler-infor-options">
                  Qty: {{ orderDetail.quantity }} @
                  {{ orderDetail.item.price.toLocaleString() }}₫
                </div>
                <div class="item-deviler-infor-options">
                  {{
                  (
                  orderDetail.quantity * orderDetail.item.price
                  ).toLocaleString()
                  }}₫
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</form>