<mat-toolbar style="border-bottom: 1px solid rgba(0, 0, 0, 0.24)">
  <a href="/" style="font-size: 40px; color: rgba(0, 0, 0, 0.818)">
    <i class="fa-brands fa-slack fa-spin" style="color: #000000;"></i>
  </a>
  <span class="example-spacer"></span>
  <button class="btn-menu" mat-raised-button (click)="viewCart()">
    VIEW CART<mat-icon>add_shopping_cart</mat-icon>
  </button>
  <button class="btn-menu" mat-raised-button (click)="viewHistory()">
    HISTORY CART<mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>