<div mat-dialog-title>
  <ng-container *ngIf="addOrEdit; else elseTemplate"
    ><h1>Edit Form</h1></ng-container
  >
  <ng-template #elseTemplate> <h1>Add Form</h1> </ng-template>
</div>
<form [formGroup]="sfForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row" hidden>
      <mat-form-field appearance="outline" class="invisible">
        <mat-label>id</mat-label>
        <input matInput type="number" formControlName="itemId" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Name Item</mat-label>
        <input matInput formControlName="itemName" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input type="number" matInput formControlName="price" />
        <mat-error *ngIf="sfForm.controls['price'].errors ? true : false">
          Giá phải lớn hơn $1000
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Discound Price</mat-label>
        <input
          type="number"
          matInput
          formControlName="discountPrice"
          [disabled]="true"
        />
        <mat-error *ngIf="sfForm.controls['price'].errors ? true : false">
          Giá phải lớn hơn $1000
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Color</mat-label>
        <input type="text" formControlName="color" matInput />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <input type="text" formControlName="imageUrl" matInput />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Size</mat-label>
        <mat-select formControlName="size">
          <mat-option value="EU 35">EU 35</mat-option>
          <mat-option value="EU 36">EU 36</mat-option>
          <mat-option value="EU 37">EU 37</mat-option>
          <mat-option value="EU 38">EU 38</mat-option>
          <mat-option value="EU 39">EU 39</mat-option>
          <mat-option value="EU 40">EU 40</mat-option>
          <mat-option value="EU 41">EU 41</mat-option>
          <mat-option value="EU 42">EU 42</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select
          [compareWith]="compareFn"
          formControlName="categoryItem"
          aria-label="Default select example"
        >
          <mat-option *ngFor="let cate of cates" [value]="cate">{{
            cate.categoryName
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select
          [compareWith]="compareFn"
          formControlName="typeItem"
          aria-label="Default select example"
        >
          <mat-option *ngFor="let type of types" [value]="type">{{
            type.typeName
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-raised-button type="submit">Save</button>
    <button
      mat-raised-button
      type="reset"
      color="warn"
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
  </div>
</form>
